Source: trident-go
Section: devel
Priority: optional
Maintainer: Trident Project <project@trident.li>
Uploaders: Trident Project <project@trident.li>
Build-Depends: debhelper (>> 9),
               dh-golang,
               golang-go,
               git,
               ca-certificates
Standards-Version: 3.9.6
Homepage: https://trident.li
Vcs-Browser: https://github.com/tridentli/go/
Vcs-Git: git://github.com/tridentli/go.git

Package: trident-go-dev
Architecture: all
Built-Using: ${misc:Built-Using}
Description: Trident Go Dependencies (Development Library)
 Trident's Go Dependencies
 .
 This package only contains source, no binaries; it is to be used by
 other golang packages.
 .
 For more information about Trident please see https://trident.li

